.App {
  text-align: center;
  height: 100%;
  color: #58007E;
}

.homeHeader {
  color: #58007E;
}

.beginBtn {
  color: #58007E;
}

button {
  margin: 24px 0 56px 0 ;
  background-color: rgba(255,255,255, 0.7);
  border: none;
  border-radius: 12px;
  font-size: 24px;
  padding: 8px 12px;
  color: #58007E;
}